<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- TailwindCSS  -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-3/4 mx-auto flex justify-between items-center mt-4">
        <h1 class="text-xl font-semibold">Welcome, <span th:text="${loggedInUser.fullName}"></span></h1>

        <!-- success or error message -->
        <div th:if="${error}" class="bg-red-100 text-red-800 p-3 rounded mb-4">
            <p th:text="${error}"></p>
        </div>

        <div th:if="${success}" class="bg-green-100 text-green-800 p-3 rounded mb-4">
            <p th:text="${success}"></p>
        </div>

        <div class="flex gap-4">
            <a th:href="@{/student/myApplications}">
                <button class="px-4 py-2 bg-gray-200 text-gray-900 rounded hover:bg-gray-300">
                    Your Applications
                </button>
            </a>
            <a th:href="@{/login}">
                <button class="px-4 py-2 bg-black text-white rounded hover:bg-red-600">
                    Logout
                </button>
            </a>
        </div>

    </div>

    <div class="w-3/4 mx-auto">
        <h2 class="text-center">Job Listings</h2>
        <table class="w-full divide-y divide-gray-300">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Job Title</th>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Location</th>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Category</th>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Salary</th>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Posted</th>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Deadline</th>
                    <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Job Details</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr th:each="job : ${jobs}" class="hover:bg-gray-50">
                <td class="px-4 py-2 text-sm text-gray-800" th:text="${job.jobTitle}"></td>
                <td class="px-4 py-2 text-sm text-gray-800" th:text="${job.location}"></td>
                <td class="px-4 py-2 text-sm text-gray-800" th:text="${job.category}"></td>
                <td class="px-4 py-2 text-sm text-gray-800" th:text="${job.salary}"></td>
                <td class="px-4 py-2 text-sm text-gray-800" th:text="${job.createdAt}"></td>
                <td class="px-4 py-2 text-sm text-gray-800" th:text="${job.deadline}"></td>
                <td>
                    <button
                        th:data-id="${job.jobId}"
                        th:data-title="${job.jobTitle}"
                        th:data-description="${job.description}"
                        th:data-category="${job.category}"
                        th:data-salary="${job.salary}"
                        th:data-created="${job.createdAt}"
                        th:data-deadline="${job.deadline}"
                        onclick="openModal(this)"
                        class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700"
                    >
                        View Job
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="jobModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden z-50">
        <div id="modalContent" class="bg-white p-4 w-1/2 h-3/4 flex flex-col items-center overflow-hidden rounded">

            <button class="justify-center self-end" onclick="closeModal()">x</button>

            <!-- Job Title -->
            <h1 id="modalJobTitle" class="text-center m-4 text-lg font-bold"></h1>

            <div class="flex flex-row gap-4 w-full h-full m-4 justify-content flex-1 overflow-hidden">

                <!-- Description -->
                <div class="flex-1 w-3/4 overflow-y-auto pr-4">
                    <p id="modalJobDescription"></p>
                </div>

                <!-- Job Info Table -->
                <table class="w-1/4 divide-y divide-gray-300">
                    <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Job Info</th>
                    </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200">

                    <tr class="hover:bg-gray-50">
                        <td id="modalInfoTitle" class="px-4 py-2 text-sm text-gray-800"></td>
                    </tr>

                    <tr class="hover:bg-gray-50">
                        <td id="modalInfoCompany" class="px-4 py-2 text-sm text-gray-800"></td>
                    </tr>

                    <tr class="hover:bg-gray-50">
                        <td id="modalInfoCategory" class="px-4 py-2 text-sm text-gray-800"></td>
                    </tr>

                    <tr class="hover:bg-gray-50">
                        <td id="modalInfoSalary" class="px-4 py-2 text-sm text-gray-800"></td>
                    </tr>

                    <tr class="hover:bg-gray-50">
                        <td id="modalInfoPosted" class="px-4 py-2 text-sm text-gray-800"></td>
                    </tr>

                    <tr class="hover:bg-gray-50">
                        <td id="modalInfoDeadline" class="px-4 py-2 text-sm text-gray-800"></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!-- Apply Form -->
            <form th:action="@{/student/submit}" method="post">
                <input type="hidden" name="JobId" id="jobIdInput" />
                <button class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 w-auto self-end">Apply</button>
            </form>

        </div>
    </div>

    <script src="/js/jobDetails.js"></script>
</body>

</html>